<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="apple-touch-icon" href="/images/favicon.png" />
    <link rel="apple-touch-icon-precomposed" href="/images/favicon.png" />

    <link rel='stylesheet' href='/css/bootstrap_v4_0_0.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    {{{body}}}
</body>
</html>
